.Flight-info {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

@media screen and (min-width: 1100px) {
  .Flight-info img {
    margin-right: 4%;
  }
  .Flight-info .detail-label:nth-child(2),
  .Flight-info .detail-label:nth-child(3),
  .Flight-info .detail-label:nth-child(4),
  .Flight-info .detail-label:nth-child(5),
  .Flight-info .detail-label:nth-child(6) {
    flex: 1 1 9%;
    text-align: left;
  }
  .Flight-info Button {
    margin-left: 4%;
    flex: 1 1 10%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1099px) {
  .Flight-info .detail-label:nth-child(2) {
    flex: 5 1 80%;
    text-align: end;
    margin-bottom: 15px;
  }
  .Flight-info .detail-label:nth-child(3),
  .Flight-info .detail-label:nth-child(4) {
    flex: 2 1 20%;
  }
  .Flight-info .detail-label:nth-child(5) {
    flex: 2 1 20%;
  }
  .Flight-info .detail-label:nth-child(6) {
    flex: 2 1 20%;
  }
  .Flight-info Button {
    flex: 1 1 70%;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .Flight-info .detail-label:nth-child(2) {
    flex: 5 1 80%;
    text-align: end;
    margin-bottom: 15px;
  }
  .Flight-info .detail-label:nth-child(3),
  .Flight-info .detail-label:nth-child(4) {
    flex: 2 1 33%;
  }
  .Flight-info .detail-label:nth-child(5) {
    flex: 2 1 11%;
    text-align: end;
  }
  .Flight-info .detail-label:nth-child(6),
  .Flight-info .detail-label:nth-child(7) {
    flex: 2 1 33%;
  }
  .Flight-info Button {
    flex: 2 1 15%;
  }
}

@media screen and (min-width: 231px) and (max-width: 400px) {
  .Flight-info .detail-label:nth-child(2) {
    flex: 5 1 80%;
    text-align: end;
    margin-bottom: 15px;
  }
  .Flight-info .detail-label:nth-child(3) {
    flex: 1 1 50%;
    text-align: left;
  }
  .Flight-info .detail-label:nth-child(4) {
    flex: 1 1 50%;
    text-align: end;
  }
  .Flight-info .detail-label:nth-child(5) {
    flex: 1 1 50%;
    text-align: left;
  }
  .Flight-info .detail-label:nth-child(6) {
    flex: 1 1 50%;
    text-align: end;
  }
  .Flight-info .detail-label:nth-child(7) {
    flex: 1 1 50%;
    text-align: left;
  }
  .Flight-info Button {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 230px) {
  .Flight-info .detail-label:nth-child(2),
  .Flight-info .detail-label:nth-child(3),
  .Flight-info
    .detail-label:nth-child(4)
    .Flight-info
    .detail-label:nth-child(5),
  .Flight-info .detail-label:nth-child(6),
  .Flight-info .detail-label:nth-child(7) {
    flex: 1 1 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  .Flight-info Button {
    flex: 1 1 80%;
  }
}
