//colors
$color_shark_approx: #333;
$white: white;

.App-footer {
	background-color: $color_shark_approx;
	min-height: 10vh;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px +2vmin);
	color: $white;
}