//colors
$color_shark_approx: #282c34;
$white: white;

.App-header {
	background-color: $color_shark_approx;
	min-height: 10vh;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px +2vmin);
	color: $white;
}

.Center-align-text {
  text-align: center;
}
